---
import Layout from '../layouts/Layout.astro'
import Form from '../components/Form.astro'
import Countries from '../components/Countries.astro'
---

<Layout title="REST Countries API with color theme switcher">
  <div class="max-w-container mx-auto">
    <div>
      <Form />
    </div>
    <div>
      <Countries />
    </div>
  </div>
</Layout>
