<div class="attribution fixed left-0 bottom-0 w-full p-2.5">
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
  Coded by <a href="https://github.com/danieldampe">danieldampe</a>.
</div>

<style>
  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
</style>
