---
import { Icon } from 'astro-icon/components'
---

<button id="theme-switcher" class="flex items-center gap-x-2 md:gap-x-2.5 md:[&_>_*]:text-base">
  <div class="text-sm">
    <Icon class="block dark:hidden" name="ion:moon-outline" />
    <Icon class="hidden dark:block" name="ion:moon" />
  </div>
  <div class="font-medium text-xs">
    Dark Mode
  </div>
</button>

<script>
  import u from 'umbrellajs'
 
  document.addEventListener('astro:page-load', () => {
    type Theme = 'dark' | 'light'

    const ls = localStorage

    let theme: Theme
    const themeLs = ls.getItem('theme')
    const initialTheme = themeLs === 'dark' ? themeLs : 'light'

    const setTheme = (newTheme: Theme) => {
      theme = newTheme
      ls.setItem('theme', theme)
      theme === 'dark' ? u('html').addClass('dark') : u('html').removeClass('dark')
    }

    setTheme(initialTheme)

    u('#theme-switcher').on('click', () => setTheme(theme === 'light' ? 'dark' : 'light'))
  })
</script>
